@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
.tablet {
  width: 768px;
}

.primary-color {
  color: #7477BF;
}

.primary-color-alpha {
  color: rgba(116, 119, 191, 0.25);
}

.primary-color-light {
  color: #a7abff;
}

.highlight-color {
  color: #31c278;
}

.section, .message-wrapper, .inner-header h1 {
  padding-right: 18px;
  padding-left: 18px;
}
@media (min-width: 768px) {
  .section, .message-wrapper, .inner-header h1 {
    padding-right: 36px;
    padding-left: 36px;
  }
}

.nav_list_item-active a, .nav_list_item a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 14px 0;
  border-width: 4px;
  border-style: solid;
  border-right-color: #4D4C72;
  border-top-color: #4D4C72;
  border-bottom-color: #4D4C72;
  transition: opacity 0.3s;
}

.chart-opt_list_item-active button, .chart-opt_list_item button {
  display: block;
  font-weight: 700;
  padding: 0.4em 0.7em;
  border-radius: 1em;
  text-decoration: none;
  color: #797979;
  transition: color 0.2s;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;
}

li {
  display: inline;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #797979;
  min-width: 300px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px;
  grid-auto-rows: minmax(min-content, 1fr);
  grid-template-areas: "header header" "nav main";
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: 78px 1fr;
    grid-template-rows: 68px;
  }
}

.header {
  color: white;
  background-color: #7477BF;
  grid-area: header;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
}

.logo {
  padding: 12px;
  font-size: 1.4em;
}
.logo a {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  .logo {
    font-size: 1.5em;
  }
}

.notify {
  margin-left: auto;
}
.notify a {
  position: relative;
  display: block;
  padding: 12px;
}
.notify img {
  width: 24px;
}
.notify .circle {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #31c278;
}

.vr {
  border-right: 1px solid #4D4C72;
  height: 40px;
  opacity: 0.6;
  margin-right: 12px;
  margin-left: 12px;
}

.user {
  padding: 12px;
}
.user a {
  text-decoration: none;
  color: white;
}
.user img {
  border-radius: 50%;
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}
.user_name {
  display: none;
}
@media (min-width: 768px) {
  .user_name {
    display: inline;
  }
}

.nav {
  background-color: #4D4C72;
  grid-area: nav;
}
.nav_list_item {
  display: block;
}
.nav_list_item a {
  opacity: 0.5;
  border-left-color: #4D4C72;
}
.nav_list_item a:hover {
  opacity: 0.7;
}
.nav_list_item-active {
  display: block;
}
.nav_list_item-active a {
  opacity: 1;
  border-left-color: #31c278;
}
.nav_list img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .nav_list img {
    width: 40%;
  }
}

.main {
  grid-area: main;
}

.inner-header {
  display: grid;
  grid-template-areas: "search" "h1";
  grid-column: span 2;
  background-color: #f2f2f2;
  position: relative;
}
@media (min-width: 768px) {
  .inner-header {
    grid-template-columns: min-content 1fr;
    grid-template-areas: "h1 search";
  }
}
.inner-header h1 {
  font-weight: 400;
  margin: 0;
  font-size: 1.5em;
  background-color: white;
  color: grey;
  padding-top: 18px;
  padding-bottom: 18px;
  grid-area: h1;
}
.inner-header input {
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
  padding: 12px;
  border: 1px solid #bfbfbf;
  font-size: 16px;
}
.inner-header button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.inner-header button svg {
  width: 28px;
  height: 28px;
  fill: #7477BF;
}

.searc-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  grid-area: search;
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  padding: 12px;
}
@media (min-width: 768px) {
  .searc-bar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 36px;
    padding-left: 36px;
  }
}

.inner-main {
  margin: 0 auto;
  display: grid;
  background-color: #bfbfbf;
  grid-gap: 1px;
  position: relative;
  grid-template-columns: 1fr;
}

.row {
  display: grid;
  grid-gap: 1px;
  background-color: #bfbfbf;
  grid-auto-rows: minmax(min-content, 1fr);
}
@media (min-width: 1024px) {
  .row {
    grid-auto-columns: minmax(min-content, 1fr);
    grid-auto-flow: column;
  }
}

.message-wrapper {
  padding-top: 20px;
  background-color: white;
  margin-bottom: -1px;
  overflow: hidden;
}

.alert-message {
  width: 100%;
  color: white;
  background-color: #7477BF;
  border-radius: 5px;
  position: relative;
  font-size: 16px;
}
.alert-message span {
  display: block;
  padding: 14px 42px 14px 12px;
}
@media (min-width: 1024px) {
  .alert-message span {
    padding-left: calc($small-vw-portion - 36px);
    padding-right: calc($small-vw-portion - 36px);
  }
}
.alert-message b {
  padding-right: 12px;
}
.alert-message a {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 11px;
  cursor: pointer;
  border-radius: 5px;
}
@media (min-width: 1024px) {
  .alert-message a {
    right: calc($small-vw-portion - 36px);
  }
}
.alert-message a svg {
  width: 21px;
  stroke: white;
  stroke-width: 6;
}

.section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: white;
}
@media (min-width: 1024px) {
  .section:first-child {
    padding-left: 6vw;
  }
  .section:last-child {
    padding-right: 6vw;
  }
}
.section h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
}
.section > :not(:last-child) {
  margin-bottom: 24px;
}

.section-main {
  position: relative;
  width: 100%;
}
.section-main_group {
  display: grid;
}
@media (min-width: 768px) {
  .section-main_group {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
  }
}
.section-main_group_item {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .section-main_group_item {
    flex-direction: row;
  }
}
.section-main_group_item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-main_group_item:not(:last-child) {
    margin-bottom: 0;
  }
}
.section-main_group_item > :not(:last-child) {
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  .section-main_group_item > :not(:last-child) {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.section-main_list_item {
  padding: 12px;
}
.section-main_list_item:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}

.chart-opt {
  margin-bottom: 12px;
}
.chart-opt_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.chart-opt_list_item button:hover {
  color: #535353;
}
.chart-opt_list_item-active button {
  color: white;
  background-color: #31c278;
}

.canvas {
  width: 100% !important;
  height: 100% !important;
  min-height: 250px !important;
  max-height: 330px !important;
}

.wrapper-social-icon {
  background-color: #7477BF;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: white;
  width: 50%;
  height: 50%;
}
.social-name {
  display: block;
  color: #7477BF;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  text-align: center;
}
@media (min-width: 1024px) {
  .social-name {
    text-align: left;
  }
}
.social-number {
  display: block;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 768px) {
  .social-number {
    font-size: 2.2em;
  }
}
@media (min-width: 1024px) {
  .social-number {
    font-size: 2.8em;
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
