%variable-p-r-l {
  @include p-r-l($main-small-padding);
  @include media($tablet) {
    @include p-r-l($main-padding);
  }
}

%navitem {

  margin-left: $dft-padding;
  margin-right: $dft-padding;
  @include media($tablet) {
    width: 100%;
    margin: auto;
  }
}

%navitem-a {
  width: 100%;
  display: block;
  padding-top: $dft-nav-padding;
  padding-bottom: $dft-nav-padding;
  border-width: 4px;
  border-style: solid;
  border-right-color: $primary-color-dark;
  border-bottom-color: $primary-color-dark;
  transition: opacity $dft-duration;
}

%chartopt-btn {
  display: block;
  font-weight: $bold;
  padding: 0.4em 0.7em;
  border-radius: 1em;
  text-decoration: none;
  color: $custom-gray-txt;
  transition: color-transitions();
}

%btn {
  @include separator();
  background-color: $primary-color;
  padding: $main-small-padding;
  text-transform: uppercase;
  color: $negative-color;
  font-weight: $bold;
  border-radius: $b-radius * 1.1;
  width: 100%;
  font-size: $dft-font-size;
  transition: color-transitions();
  &:hover {
    background-color: hover-color($primary-color);
  }
}

%input {
  display: block;
  padding: $dft-padding;
  border-radius: $b-radius;
  border: 1px solid $line-color;
  width: 100%;
  font-size: $dft-font-size;
  color: $custom-grey-dark;
  @include separator();
  &::placeholder {
    color: lighten($custom-gray-txt, 20%);
  }
  label + & {
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

%user-img {
  border-radius: 50%;
  width: 35px;
  min-width: 35px;
  vertical-align: middle;
}
