@mixin e($element) {
	&_#{$element} {
		@content;
	}
}
@mixin m($modifier) {
	&-#{$modifier} {
		@content;
	}
}
@mixin media($width) {
	@media (min-width: $width) {
		@content;
	}
}
@mixin flexbox($wp: wrap, $ai: center, $ac: center) {
	display: flex;
	align-content: $ac;
	flex-wrap: $wp;
	align-items: $ai;
}
@mixin after-headline($space) {
	[class^='headline'] + & {
		margin-top: $space;
		@content;
	}
}
@mixin p-r-l($r, $l: $r) {
	padding-right: $r;
	padding-left: $l;
}
@mixin m-r-l($r, $l: $r) {
	margin-right: $r;
	margin-left: $l;
}

@mixin separator($times: 1) {
	&:not(:first-child) {
		margin-top: $dft-text-height * $times;
	}
}

@mixin drawarrow($deg: 45deg) {
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid $primary-color;
  border-right: 2px solid $primary-color;
  transform: rotate($deg);
}
