.container {
  font-family: $primaryFont;
  font-weight: $regular;
  color: $custom-gray-txt;
  min-width: 300px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px;
  grid-auto-rows: minmax(min-content,1fr);
  grid-template-areas: "header header" "nav main";
  @include media($tablet) {
    grid-template-columns: 78px 1fr;
    grid-template-rows: 68px;
  }
}
