.header {
  position: relative;
}

.logo {
  padding: $dft-padding;
  font-size: 1.4em;

  a {
    text-decoration: none;
    color: $negative-color;
  }
  @include media($tablet) {
    font-size: 1.5em;
  }
}

@keyframes ringbell {
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform:  rotate(-15deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
}

.notify {
  margin-left: auto;
  position: static;
  @include media($tablet) {
    position: relative;
  }

  > button {
    padding: $dft-padding;
    &:hover {
      img {
        animation-name: ringbell;
      }
    }

    img {
      transform-origin: top center;
      width: 24px;
      animation-duration: .8s;
      animation-timing-function:ease;
    }

    .drawcircle {
      position: absolute;
      top: 8px;
      right: 5px;
    }
    .drawuparrow {
      display: none;
      position: absolute;
      background-color: $negative-color;
      border: none;
      transform-origin: top left;
      bottom: -17px;
    }
  }

}



.notifications {
  display: none;
  font-size: 0.95em;
  border-radius: $b-radius/2;
  position: absolute;
  background-color: $negative-color;
  width: 400px;
  max-width: 100%;
  z-index: 1;
  right: 0;
  box-shadow: 0 0 9px 0 $primary-color-dark;
  @include media($tablet) {
    max-width: none;
  }

  > div {
    @include flexbox($wp:nowrap);
    padding: $dft-padding * 2 $dft-padding;
    background-color: $primary-color;
    width: 100%;
    border: 1px solid $negative-color;

    &:not(:first-child) {
      margin-top: -1px;
    }

    .drawcircle {
      display: inline-block;
      margin-right: 10px;
      position: relative;
    }

    span {
      padding-right: $dft-padding * 2;
    }

    button {
      padding: $dft-padding;
      position: absolute;
      right: 0;
    }
  }
}

.vr {
  border-right: 1px solid $primary-color-dark;
  height: 40px;
  opacity: 0.6;
  @include m-r-l($dft-padding);
}

.user {
  padding: $dft-padding;
  img {
    @extend %user-img;
  }
  &:hover {
    position: absolute;
    right: $dft-padding;
    background-color: $primary-color;
    @include media($tablet) {
      position: initial;
    }
  }
  @include e(name) {
    color: $negative-color;
    display: none;
    margin-left: 8px;
    :hover > & {
      display: inline;
    }
    @include media($tablet) {
      display: inline;
    }
  }
}
