.inner-header {
  display: grid;
  grid-template-areas: "search" "h1";
  grid-column: span 2;
  background-color: $custom-gray-bg;
  position: relative;
  @include media($tablet) {
    grid-template-columns: min-content 1fr;
    grid-template-areas: "h1 search";
  }
}

.main-h1 {
  font-weight: 400;
  margin: 0;
  font-size: 1.5em;
  background-color: $negative-color;
  color: grey;
  padding-top: $main-small-padding;
  padding-bottom: $main-small-padding;
  @extend %variable-p-r-l;
  grid-area: h1;
}

.search-bar {
  @include flexbox();
  position: relative;
  justify-content: flex-end;
  grid-area: search;
  border-bottom: $line-size solid $line-color;
  border-left: $line-size solid $line-color;
  padding: $dft-padding;
  @include media($tablet) {
    padding-top: 0;
    padding-bottom: 0;
    @include p-r-l($main-padding);
  }

  input {
    @extend %input;
    width: 100%;
    @include media($tablet) {
        max-width: 450px;
    }
  }

  button {
    position: absolute;
  }
}

.inner-main {
  margin: 0 auto;
  display: grid;
  background-color: $line-color;
  grid-gap: $gap-size;
  position: relative;
  grid-template-columns: 1fr;
}

.row {
  display: grid;
  grid-gap: $gap-size;
  background-color: $line-color;
  // grid-auto-rows: minmax(min-content,1fr);
  @include media($desktop) {
    grid-auto-columns: minmax(min-content,1fr);
    grid-auto-flow: column;
  }
}



.placeholder-message {
  overflow: hidden;
  @extend %variable-p-r-l;
  background-color: $negative-color;
  margin-bottom: -$gap-size;
  transition: height $dft-duration * 2;
  &.shrink {
    height: $gap-size;
  }
}



.message-alert {
  margin-top: $main-top-padding;
  @include flexbox();
  position: relative;
  justify-content: flex-end;
  width: 100%;
  color: $negative-color;
  background-color: $primary-color;
  border-radius: $b-radius;
  position: relative;
  font-size: $dft-font-size;
  padding: $dft-box-padding $dft-padding;
  @include media($desktop) {
    padding-left: calc(#{$small-vw-portion} - #{$main-padding});
    padding-right: calc(#{$small-vw-portion} - #{$main-padding});
  }

  > span {
    flex-basis: 100%;
    padding-right: $dft-padding + $dft-font-size + ($dft-box-padding * 2);

    b {
      padding-right: $dft-padding;
    }
  }

  .alert-close {
    position: absolute;
    top: 1px;
    padding: $dft-box-padding;
    border-radius: $b-radius;

  }
}
