@if variable-exists(google-font-url) {
  @import url($google-font-url);
}

.container {
  font-family: $primaryFont;
  font-weight: $regular;
}

.logo {
  font-size: 1.5em;
}

.container {

}

.header {
  color: $negative-color;
}

h1 {
  font-weight: 400;
}
// .header2 {
  h2 {
    font-size: 1em;
    text-transform:uppercase;
    font-weight: 400;
    
  }
// }

//

//

//
// .link {
//   @extend %link-dft;
//   @extend %color-transitions;
// }
//
//
// .blockquote {
//   margin: 1em 1em 0.82em;
//   padding-left: 6%;
//   border-left: 8px solid $highlight-color;
//   border-radius: $b-radius;
//   font-size: 1.65em;
//   font-weight: $regular;
//   font-style: italic;
//   letter-spacing: -1px;
//   line-height: 1.25;
// }
