@if variable-exists(google-font-url) {
  @import url($google-font-url);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  outline-style: none;
}

a, label, button, select {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

html {
  font-size: 16px;
  line-height:  1.125;
}

li {
  display: inline;
}

button {
  display: inline-block;
  background-color: transparent;
  border: none;
  position: relative;
  &::after {
    border-radius: inherit;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
